* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

html {
    background-color: var(--slate-300);
}

.qr-code {
    display: flex;
    background-image: url('./images/image-qr-code.png');
    width: 280px;
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5em;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    background: var(--background);
    max-width: 300px;
    height: 475px;
    padding: 10px;
    border-radius: 0.5em;
    

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
    width: 288px;
    height: 131px;
}

.text-h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: center;
    padding: 5px;
    color: var(--slate-900);
}

.text-p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--slate-500);
    margin: 0.5px;
}



